@model IEnumerable<AdminLTE.Models.KeyTypeView>

@{
    ViewBag.Title = "Index";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th translate="description">
            </th>
            <th translate="code">
            </th>
            <th class="th-process"></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                <div onclick="editFormLarge(this)" url="@Url.Action("Edit", "KeyTypes", new { id = item.KeyTypeId })" class="btn btn-default btn-sm glyphicon glyphicon-edit"></div>
                <div onclick="deleteForm(this)" url="@Url.Action("Delete", "KeyTypes", new { id = item.KeyTypeId })" class="btn btn-default btn-sm glyphicon glyphicon-trash"></div>
            </td>
        </tr>
    }
</table>