@model AdminLTE.Models.RoleView

@{
    ViewBag.Title = "Delete";
}

<div class="form-horizontal">
    <dl class="dl-horizontal">
        <dt translate="role-name">
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="modal-button">
                <div class="btn btn-danger" onclick="postForm(this, refreshList)" translate="delete"></div>
            </div>
        </div>
    }
</div>
