@{
    ViewBag.Title = "Home";
    ViewBag.Description = "Home Page";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">LSN</h3>

                <div class="box-tools pull-right">

                </div>
            </div>
            <div class="box-body">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        loadTranslate();
    </script>
}